

.arthur{
	-fx-background-color: #FFFF00;
	-fx-text-fill: #00DDFF;	
}

.beatrice{
	-fx-font-size: 500%;
}


.amstyle{
	-fx-background-color: #FFFFFF;
	-fx-text-fill: #00FF00;
	-fx-font-size: 400%;
}

.pmstyle{
	-fx-background-color: #FF00FF;
	-fx-text-fill: #00FF00;
	-fx-font-size: 400%;
}


.pane{
	-fx-font-size: 250%;
	-fx-padding: 20px;
}

.textfieldpadding{
	-fx-padding: 20px;
}